# Python virtual environment
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest cache
.pytest_cache/

# Environment variables
.env

# VSCode settings
.vscode/

# MacOS system files
.DS_Store

# Logs
*.log

